.nav-link.active {
    background-color: #f39c12 !important; /* Màu cam đậm */
    color: white !important;
    font-weight: bold;
    border-radius: 5px;
}
.nav-link {
    transition: background-color 0.3s, color 0.3s;
}
.nav-link:hover {
    background-color: #ffc107; /* Màu cam nhạt khi hover */
}
