html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}
body {
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  padding-top: 100px;
  }

/* Header*/
header {
  position: relative; 
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px; 
  background: #ffc107;
  color: white;
  text-align: center;
  font-size: 2rem;
  min-height: 80px; 
  z-index: 1000;
}
.main-content {
  margin-top: 20px; /* Tăng khoảng cách để logo và nội dung không dính nhau */
}

/* Logo căn trái */
.logo {
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
}

.logo img {
  max-width: 100px;
  border-radius: 10px;
}

/* Nút đăng nhập bên phải */
#loginicon {
  position: absolute;
  right: 40px; /* Đặt cách logo một khoảng */
  top: 50%;
  transform: translateY(-50%);
  font-size: 28px;
  color: white;
  cursor: pointer;
  transition: color 0.3s;
}

/* Nút đóng custom */
.custom-close-outside {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 1000;
  background-color: #e0aa07; /* màu vàng pastel */
  border: 1px solid #100e0c; /* màu nâu đậm */
  width: 36px;
  height: 36px;
  border-radius: 50%;
  opacity: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  transition: all 0.3s ease;
}

/* Icon bên trong nút */
.custom-close-outside::before {
  content: '✕';
  font-size: 18px;
  color: #6c3e00;
  font-weight: bold;
}

/* Hover effect */
.custom-close-outside:hover {
  background-color: red ;
  transform: scale(1.1);
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  cursor: pointer;
}

/* Nút vàng gradient */
.btn-custom-yellow {
  background: linear-gradient(135deg, #f6d365 0%, #fda085 100%) !important;
  color: #000 !important;
  border: none !important;
  transition: all 0.3s ease-in-out;
}

.btn-custom-yellow:hover {
  background: linear-gradient(135deg, #f093fb 0%, #f5576c 100%) !important;
  color: #fff !important;
  box-shadow: 0 0 10px rgba(245, 87, 108, 0.5) !important;
}

/* Footer */
footer {
  margin-top: auto;
  padding: 20px;
  background: #ffc107;
  color: white;
  text-align: center;
  font-weight: bold;
}