.btn-custom-yellow {
    background-color: #fce38a; /* vàng nhạt */
    color: #000; /* chữ đen */
    border: none;
  }

  .btn-custom-yellow:hover {
    background-color: #f9b208; /* vàng đậm hơn khi hover */
    color: #fff; /* chữ trắng khi hover */
}